eTecClient/web/WEB-INF/wsdl/localhost_8080/eTecServer/Administradores.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="addAdmin" nillable="true" type="tns:add_item"/>

<xs:element name="addAdminResponse" nillable="true" type="tns:add_itemResponse"/>

<xs:element name="add_item" type="tns:add_item"/>

<xs:element name="add_itemResponse" type="tns:add_itemResponse"/>

<xs:element name="agregarAdmin" type="tns:agregarAdmin"/>

<xs:element name="agregarAdminResponse" type="tns:agregarAdminResponse"/>

<xs:element name="crearCentro" type="tns:crearCentro"/>

<xs:element name="crearCentroResponse" type="tns:crearCentroResponse"/>

<xs:element name="crearGasolinera" type="tns:crearGasolinera"/>

<xs:element name="crearGasolineraResponse" type="tns:crearGasolineraResponse"/>

<xs:element name="crearTienda" type="tns:crearTienda"/>

<xs:element name="crearTiendaResponse" type="tns:crearTiendaResponse"/>

<xs:element name="elminarNodo" type="tns:elminarNodo"/>

<xs:element name="elminarNodoResponse" type="tns:elminarNodoResponse"/>

<xs:element name="getMatriz" type="tns:getMatriz"/>

<xs:element name="getMatrizResponse" type="tns:getMatrizResponse"/>

<xs:element name="getVector" type="tns:getVector"/>

<xs:element name="getVectorResponse" type="tns:getVectorResponse"/>

<xs:element name="modificarMatriz" type="tns:modificarMatriz"/>

<xs:element name="modificarMatrizResponse" type="tns:modificarMatrizResponse"/>

<xs:complexType name="modificarMatriz">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarMatrizResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatriz">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMatrizResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elminarNodo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elminarNodoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearTienda">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearTiendaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearCentro">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearCentroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarAdmin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVector">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVectorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearGasolinera">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearGasolineraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add_item">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add_itemResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>