eTecClient/web/WEB-INF/wsdl/localhost_8080/eTecServer/Paquetes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="elminarPaquetes" type="tns:elminarPaquetes"/>

<xs:element name="elminarPaquetesResponse" type="tns:elminarPaquetesResponse"/>

<xs:element name="getPaquete" type="tns:getPaquete"/>

<xs:element name="getPaqueteResponse" type="tns:getPaqueteResponse"/>

<xs:element name="getRuta" type="tns:getRuta"/>

<xs:element name="getRutaResponse" type="tns:getRutaResponse"/>

<xs:element name="moverPaquete" type="tns:moverPaquete"/>

<xs:element name="moverPaqueteResponse" type="tns:moverPaqueteResponse"/>

<xs:element name="setEstado" type="tns:setEstado"/>

<xs:element name="setEstadoResponse" type="tns:setEstadoResponse"/>

<xs:complexType name="getRuta">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverPaquete">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverPaqueteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elminarPaquetes">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elminarPaquetesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaquete">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPaqueteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEstado">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEstadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>