eTecClient/web/WEB-INF/wsdl/localhost_8080/eTecServer/Productos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="Productos">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/eTecServer/Productos?xsd=1"/>
</xsd:schema>
</types>
<message name="add_item">
<part name="parameters" element="tns:add_item"/>
</message>
<message name="add_itemResponse">
<part name="parameters" element="tns:add_itemResponse"/>
</message>
<message name="remove_item">
<part name="parameters" element="tns:remove_item"/>
</message>
<message name="remove_itemResponse">
<part name="parameters" element="tns:remove_itemResponse"/>
</message>
<message name="search_item">
<part name="parameters" element="tns:search_item"/>
</message>
<message name="search_itemResponse">
<part name="parameters" element="tns:search_itemResponse"/>
</message>
<portType name="Productos">
<operation name="add_item">
<input wsam:Action="http://Services/Productos/add_itemRequest" message="tns:add_item"/>
<output wsam:Action="http://Services/Productos/add_itemResponse" message="tns:add_itemResponse"/>
</operation>
<operation name="remove_item">
<input wsam:Action="http://Services/Productos/remove_itemRequest" message="tns:remove_item"/>
<output wsam:Action="http://Services/Productos/remove_itemResponse" message="tns:remove_itemResponse"/>
</operation>
<operation name="search_item">
<input wsam:Action="http://Services/Productos/search_itemRequest" message="tns:search_item"/>
<output wsam:Action="http://Services/Productos/search_itemResponse" message="tns:search_itemResponse"/>
</operation>
</portType>
<binding name="ProductosPortBinding" type="tns:Productos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search_item">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Productos">
<port name="ProductosPort" binding="tns:ProductosPortBinding">
<soap:address location="http://localhost:8080/eTecServer/Productos"/>
</port>
</service>
</definitions>