eTecClient/src/conf/xml-resources/web-service-references/Administradores/wsdl/localhost_8080/eTecServer/Administradores.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="Administradores">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/eTecServer/Administradores?xsd=1"/>
</xsd:schema>
</types>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="crearTienda">
<part name="parameters" element="tns:crearTienda"/>
</message>
<message name="crearTiendaResponse">
<part name="parameters" element="tns:crearTiendaResponse"/>
</message>
<message name="getMatriz">
<part name="parameters" element="tns:getMatriz"/>
</message>
<message name="getMatrizResponse">
<part name="parameters" element="tns:getMatrizResponse"/>
</message>
<message name="crearGasolinera">
<part name="parameters" element="tns:crearGasolinera"/>
</message>
<message name="crearGasolineraResponse">
<part name="parameters" element="tns:crearGasolineraResponse"/>
</message>
<message name="crearCentro">
<part name="parameters" element="tns:crearCentro"/>
</message>
<message name="crearCentroResponse">
<part name="parameters" element="tns:crearCentroResponse"/>
</message>
<message name="modificarMatriz">
<part name="parameters" element="tns:modificarMatriz"/>
</message>
<message name="modificarMatrizResponse">
<part name="parameters" element="tns:modificarMatrizResponse"/>
</message>
<message name="elminarNodo">
<part name="parameters" element="tns:elminarNodo"/>
</message>
<message name="elminarNodoResponse">
<part name="parameters" element="tns:elminarNodoResponse"/>
</message>
<message name="agregarAdmin">
<part name="parameters" element="tns:agregarAdmin"/>
</message>
<message name="agregarAdminResponse">
<part name="parameters" element="tns:agregarAdminResponse"/>
</message>
<message name="getVector">
<part name="parameters" element="tns:getVector"/>
</message>
<message name="getVectorResponse">
<part name="parameters" element="tns:getVectorResponse"/>
</message>
<portType name="Administradores">
<operation name="addAdmin">
<input wsam:Action="http://Services/Administradores/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://Services/Administradores/addAdminResponse" message="tns:addAdminResponse"/>
</operation>
<operation name="crearTienda">
<input wsam:Action="http://Services/Administradores/crearTiendaRequest" message="tns:crearTienda"/>
<output wsam:Action="http://Services/Administradores/crearTiendaResponse" message="tns:crearTiendaResponse"/>
</operation>
<operation name="getMatriz">
<input wsam:Action="http://Services/Administradores/getMatrizRequest" message="tns:getMatriz"/>
<output wsam:Action="http://Services/Administradores/getMatrizResponse" message="tns:getMatrizResponse"/>
</operation>
<operation name="crearGasolinera">
<input wsam:Action="http://Services/Administradores/crearGasolineraRequest" message="tns:crearGasolinera"/>
<output wsam:Action="http://Services/Administradores/crearGasolineraResponse" message="tns:crearGasolineraResponse"/>
</operation>
<operation name="crearCentro">
<input wsam:Action="http://Services/Administradores/crearCentroRequest" message="tns:crearCentro"/>
<output wsam:Action="http://Services/Administradores/crearCentroResponse" message="tns:crearCentroResponse"/>
</operation>
<operation name="modificarMatriz">
<input wsam:Action="http://Services/Administradores/modificarMatrizRequest" message="tns:modificarMatriz"/>
<output wsam:Action="http://Services/Administradores/modificarMatrizResponse" message="tns:modificarMatrizResponse"/>
</operation>
<operation name="elminarNodo">
<input wsam:Action="http://Services/Administradores/elminarNodoRequest" message="tns:elminarNodo"/>
<output wsam:Action="http://Services/Administradores/elminarNodoResponse" message="tns:elminarNodoResponse"/>
</operation>
<operation name="agregarAdmin">
<input wsam:Action="http://Services/Administradores/agregarAdminRequest" message="tns:agregarAdmin"/>
<output wsam:Action="http://Services/Administradores/agregarAdminResponse" message="tns:agregarAdminResponse"/>
</operation>
<operation name="getVector">
<input wsam:Action="http://Services/Administradores/getVectorRequest" message="tns:getVector"/>
<output wsam:Action="http://Services/Administradores/getVectorResponse" message="tns:getVectorResponse"/>
</operation>
</portType>
<binding name="AdministradoresPortBinding" type="tns:Administradores">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMatriz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearGasolinera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarMatriz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elminarNodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Administradores">
<port name="AdministradoresPort" binding="tns:AdministradoresPortBinding">
<soap:address location="http://localhost:8080/eTecServer/Administradores"/>
</port>
</service>
</definitions>