eTecClient/src/conf/xml-resources/web-service-references/Clientes/wsdl/localhost_8080/eTecServer/Clientes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="Clientes">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/eTecServer/Clientes?xsd=1"/>
</xsd:schema>
</types>
<message name="addClient">
<part name="parameters" element="tns:addClient"/>
</message>
<message name="addClientResponse">
<part name="parameters" element="tns:addClientResponse"/>
</message>
<message name="removeClient">
<part name="parameters" element="tns:removeClient"/>
</message>
<message name="removeClientResponse">
<part name="parameters" element="tns:removeClientResponse"/>
</message>
<message name="setEmail">
<part name="parameters" element="tns:setEmail"/>
</message>
<message name="setEmailResponse">
<part name="parameters" element="tns:setEmailResponse"/>
</message>
<message name="getMoney">
<part name="parameters" element="tns:getMoney"/>
</message>
<message name="getMoneyResponse">
<part name="parameters" element="tns:getMoneyResponse"/>
</message>
<message name="addMoney">
<part name="parameters" element="tns:addMoney"/>
</message>
<message name="addMoneyResponse">
<part name="parameters" element="tns:addMoneyResponse"/>
</message>
<message name="getActive">
<part name="parameters" element="tns:getActive"/>
</message>
<message name="getActiveResponse">
<part name="parameters" element="tns:getActiveResponse"/>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"/>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"/>
</message>
<message name="getCentro">
<part name="parameters" element="tns:getCentro"/>
</message>
<message name="getCentroResponse">
<part name="parameters" element="tns:getCentroResponse"/>
</message>
<message name="setCentro">
<part name="parameters" element="tns:setCentro"/>
</message>
<message name="setCentroResponse">
<part name="parameters" element="tns:setCentroResponse"/>
</message>
<message name="setActive">
<part name="parameters" element="tns:setActive"/>
</message>
<message name="setActiveResponse">
<part name="parameters" element="tns:setActiveResponse"/>
</message>
<portType name="Clientes">
<operation name="addClient">
<input wsam:Action="http://Services/Clientes/addClientRequest" message="tns:addClient"/>
<output wsam:Action="http://Services/Clientes/addClientResponse" message="tns:addClientResponse"/>
</operation>
<operation name="removeClient">
<input wsam:Action="http://Services/Clientes/removeClientRequest" message="tns:removeClient"/>
<output wsam:Action="http://Services/Clientes/removeClientResponse" message="tns:removeClientResponse"/>
</operation>
<operation name="setEmail">
<input wsam:Action="http://Services/Clientes/setEmailRequest" message="tns:setEmail"/>
<output wsam:Action="http://Services/Clientes/setEmailResponse" message="tns:setEmailResponse"/>
</operation>
<operation name="getMoney">
<input wsam:Action="http://Services/Clientes/getMoneyRequest" message="tns:getMoney"/>
<output wsam:Action="http://Services/Clientes/getMoneyResponse" message="tns:getMoneyResponse"/>
</operation>
<operation name="addMoney">
<input wsam:Action="http://Services/Clientes/addMoneyRequest" message="tns:addMoney"/>
<output wsam:Action="http://Services/Clientes/addMoneyResponse" message="tns:addMoneyResponse"/>
</operation>
<operation name="getActive">
<input wsam:Action="http://Services/Clientes/getActiveRequest" message="tns:getActive"/>
<output wsam:Action="http://Services/Clientes/getActiveResponse" message="tns:getActiveResponse"/>
</operation>
<operation name="getEmail">
<input wsam:Action="http://Services/Clientes/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://Services/Clientes/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getCentro">
<input wsam:Action="http://Services/Clientes/getCentroRequest" message="tns:getCentro"/>
<output wsam:Action="http://Services/Clientes/getCentroResponse" message="tns:getCentroResponse"/>
</operation>
<operation name="setCentro">
<input wsam:Action="http://Services/Clientes/setCentroRequest" message="tns:setCentro"/>
<output wsam:Action="http://Services/Clientes/setCentroResponse" message="tns:setCentroResponse"/>
</operation>
<operation name="setActive">
<input wsam:Action="http://Services/Clientes/setActiveRequest" message="tns:setActive"/>
<output wsam:Action="http://Services/Clientes/setActiveResponse" message="tns:setActiveResponse"/>
</operation>
</portType>
<binding name="ClientesPortBinding" type="tns:Clientes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setActive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Clientes">
<port name="ClientesPort" binding="tns:ClientesPortBinding">
<soap:address location="http://localhost:8080/eTecServer/Clientes"/>
</port>
</service>
</definitions>