eTecClient/src/conf/xml-resources/web-service-references/Clientes/wsdl/localhost_8080/eTecServer/Clientes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="addClient" nillable="true" type="tns:add_item"/>

<xs:element name="addClientResponse" nillable="true" type="tns:add_itemResponse"/>

<xs:element name="addMoney" type="tns:addMoney"/>

<xs:element name="addMoneyResponse" type="tns:addMoneyResponse"/>

<xs:element name="add_item" type="tns:add_item"/>

<xs:element name="add_itemResponse" type="tns:add_itemResponse"/>

<xs:element name="getActive" type="tns:getActive"/>

<xs:element name="getActiveResponse" type="tns:getActiveResponse"/>

<xs:element name="getCentro" type="tns:getCentro"/>

<xs:element name="getCentroResponse" type="tns:getCentroResponse"/>

<xs:element name="getEmail" type="tns:getEmail"/>

<xs:element name="getEmailResponse" type="tns:getEmailResponse"/>

<xs:element name="getMoney" type="tns:getMoney"/>

<xs:element name="getMoneyResponse" type="tns:getMoneyResponse"/>

<xs:element name="removeClient" nillable="true" type="tns:remove_item"/>

<xs:element name="removeClientResponse" nillable="true" type="tns:remove_itemResponse"/>

<xs:element name="remove_item" type="tns:remove_item"/>

<xs:element name="remove_itemResponse" type="tns:remove_itemResponse"/>

<xs:element name="setActive" nillable="true" type="tns:setCentro"/>

<xs:element name="setActiveResponse" nillable="true" type="tns:setCentroResponse"/>

<xs:element name="setCentro" type="tns:setCentro"/>

<xs:element name="setCentroResponse" type="tns:setCentroResponse"/>

<xs:element name="setEmail" type="tns:setEmail"/>

<xs:element name="setEmailResponse" type="tns:setEmailResponse"/>

<xs:complexType name="remove_item">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove_itemResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMoney">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMoney">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActive">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActiveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add_item">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add_itemResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCentro">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCentroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCentro">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCentroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>