eTecClient/src/conf/xml-resources/web-service-references/Paquetes/wsdl/localhost_8080/eTecServer/Paquetes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Services/" name="Paquetes">
<types>
<xsd:schema>
<xsd:import namespace="http://Services/" schemaLocation="http://localhost:8080/eTecServer/Paquetes?xsd=1"/>
</xsd:schema>
</types>
<message name="setEstado">
<part name="parameters" element="tns:setEstado"/>
</message>
<message name="setEstadoResponse">
<part name="parameters" element="tns:setEstadoResponse"/>
</message>
<message name="moverPaquete">
<part name="parameters" element="tns:moverPaquete"/>
</message>
<message name="moverPaqueteResponse">
<part name="parameters" element="tns:moverPaqueteResponse"/>
</message>
<message name="getRuta">
<part name="parameters" element="tns:getRuta"/>
</message>
<message name="getRutaResponse">
<part name="parameters" element="tns:getRutaResponse"/>
</message>
<message name="elminarPaquetes">
<part name="parameters" element="tns:elminarPaquetes"/>
</message>
<message name="elminarPaquetesResponse">
<part name="parameters" element="tns:elminarPaquetesResponse"/>
</message>
<message name="getPaquete">
<part name="parameters" element="tns:getPaquete"/>
</message>
<message name="getPaqueteResponse">
<part name="parameters" element="tns:getPaqueteResponse"/>
</message>
<portType name="Paquetes">
<operation name="setEstado">
<input wsam:Action="http://Services/Paquetes/setEstadoRequest" message="tns:setEstado"/>
<output wsam:Action="http://Services/Paquetes/setEstadoResponse" message="tns:setEstadoResponse"/>
</operation>
<operation name="moverPaquete">
<input wsam:Action="http://Services/Paquetes/moverPaqueteRequest" message="tns:moverPaquete"/>
<output wsam:Action="http://Services/Paquetes/moverPaqueteResponse" message="tns:moverPaqueteResponse"/>
</operation>
<operation name="getRuta">
<input wsam:Action="http://Services/Paquetes/getRutaRequest" message="tns:getRuta"/>
<output wsam:Action="http://Services/Paquetes/getRutaResponse" message="tns:getRutaResponse"/>
</operation>
<operation name="elminarPaquetes">
<input wsam:Action="http://Services/Paquetes/elminarPaquetesRequest" message="tns:elminarPaquetes"/>
<output wsam:Action="http://Services/Paquetes/elminarPaquetesResponse" message="tns:elminarPaquetesResponse"/>
</operation>
<operation name="getPaquete">
<input wsam:Action="http://Services/Paquetes/getPaqueteRequest" message="tns:getPaquete"/>
<output wsam:Action="http://Services/Paquetes/getPaqueteResponse" message="tns:getPaqueteResponse"/>
</operation>
</portType>
<binding name="PaquetesPortBinding" type="tns:Paquetes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elminarPaquetes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPaquete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Paquetes">
<port name="PaquetesPort" binding="tns:PaquetesPortBinding">
<soap:address location="http://localhost:8080/eTecServer/Paquetes"/>
</port>
</service>
</definitions>